.f{
    margin:0;
    padding: 0;
    /*top,right,bottom,left*/
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
    width:90%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-image: linear-gradient(#D9D9D9, grey);
    opacity: 86%;
}
    
.logo
{

    font-size: 30px ;
    font-weight: bold;
    color: 282828px;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-transform: none;
}
nav li{

    display: inline-block;
    list-style: none;
    padding: 20px 20px;
}
a,button{
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}
button{
    background-color: #0088a9;
    padding: 9px 25px;
    border:none;
    border-radius: 8px;
    transition: all 0.4s ease 0s;
}
nav li a:hover{
    color: #0088a9;
    transition: all 0.4s ease 0s;
}
button:hover
{
    background-color: #0088a9;
}

@media screen and (max-width: 952px){
    header{
        height: 45px;
        padding: 45px 10%;
    background-image: linear-gradient(#D9D9D9, grey)
    }
    logo{
        font-size: 50px;
        padding-left: 40px;
    }
    nav ul li a {
        font-size: 12px;
    
    }
    button{
        padding: 9px 15px;
        font-size: 12px;
        border-radius: 5px;
    }
}
@media (max-width: 858px){
    .logo{
        font-size: 30px;
        padding-left: 30px;
    }
    ul 
    {
        position:fixed;
        width:100%;
        height:100vh;
        background:(#D9D9D9, grey)
        top: 80px;
        left : 0;
        text-align:center;
    }
    button{
        padding: 6px 8px;
        font-size: 8px;
        border-radius: 5px;
    }
    nav ul li a{
        font-size: 20px;
    }
}



/*navbar*/

.g
{
    max-width: 100%;
    max-height: 100%;
}
h1
{
 text-align: center;
 font-size: 70px;
 font-color:black;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 margin-left: 90px;
 margin-right: 80px;
 letter-spacing: 1px;
}
H3
{
    font-size: 20px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    max-width: 100%;
}
.img-col{
    flex-basis: 40px;
}

.c
{
    margin-left: 70px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; sans-serif;
    letter-spacing: normal;
    text-emphasis: none;
    font-display: center;
}
.d
{
    margin-bottom: 20%;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 300px;
   }

   .image
   {
    width:100%;
    height: 400px;
    max-block-size: 100%;
    display: block;

 }

/*coding for footer*/
.dipali
{
    margin:0;
    padding: 0;
     color: #141313;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
    
footer
{
 position:relative;
 bottom:0px;
 width:100%;
 background: #aaa6a6;
}
.main-content
{
    display:flex;
    
}
.main-content.box
{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2
{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box.content{
    margin: 20px 0 0 0;
}
.box.content:before{
    position: absoulte;
    content:'';
    top:-10px;
    height: 2px;
    width:100%;
    background:#181717;
}
.box.content::after{
    position: absoulte;
    content:'';
    top:-10px;
    height: 2px;
    width:15%;
    background: #161616;

}
.left.content.social
{
    margin: 20px 0 0 0;
}
.left.content.social a{
    padding:0 2px;
}
.left.content.social a{
    height: 40px;
    width: 40px;
    background: #141313;
    line-height:40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left.content.social a span  :hover{
    background: #f12020;
}
.center.content.fas
{
    font-size:1.4375rem;
    background:#1b1a1a;
    height:45px;
    width:45px;
    line-height:45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor:pointer;
}
.center.content.fas :hover{
    background: #f12020;
}
.center.content.text{
    font-size:1.0625rem;
    font-weight:500;
    padding-left: 10px;
}
.center.content.phone{
    margin: 10px 0;
}
.right.form.msg{
    margin-top:10px;
}
.right form input, .right form textarea{
    width:100%;
    font-size: 1.0625rem;
    background: #e0d8d8;
    padding-left: 10px;
    border: 1px soild #1a1919;
}
.right form input:focus,.right form textarea:focus{
    outline-color: #101011;

}
.right form input{
    height: 35px;
}
.right form.btn{
    margin-top: 10px;
}
.right form .btn button{
    height: 40px;
    width:100%;
    border: none;
    outline:none;
    background: #408632;
    font-size: 1.0625rem;
    font-weight:500;
    cursor:pointer;
    transition: 0.3s; 
}
.right form .btn button :hover{
    background:#000;
}
.bottom center{
    padding:5px;
    font-size: 0.9375rem;
    background:#d8d1d1;
}
.bottom center span{
    color: #656565;
}
.bottom center a{
    color: #f12020;
    text-decoration: none;
}
.bottom center a :hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    footer{
        position:relative;
        bottom:0px;
    }
    .main-content{
        flex-wrap: wrap;
        flex-direction: column;

    }
    .main-content .box{
        margin: 5px 0;

    }


}
    
